<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
        <h3 class="brand-name">SellMeGood</h3>
        <i nz-icon type="shopping-cart" class="brand-icon"></i>

        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item routerLink="/home" routerLinkActive="active">
                <i nz-icon type="home"></i>
                <span class="nav-text">Home</span>
            </li>

            <li nz-menu-item routerLink="/users" routerLinkActive="active">
                <i nz-icon type="user"></i>
                <span class="nav-text">Users</span>
            </li>

            <li nz-menu-item routerLink="/about" routerLinkActive="active">
                <i nz-icon type="info-circle-o"></i>
                <span class="nav-text">About</span>
            </li>
        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header>
            <i
                class="anticon trigger"
                [class.anticon-menu-fold]="!isCollapsed"
                [class.anticon-menu-unfold]="isCollapsed"
                (click)="isCollapsed=!isCollapsed"
            >
            </i>

            <app-login *ngIf="!loginService.isLoggedIn" class="login-link"></app-login>

            <button
                class="logged-user-link"
                *ngIf="loginService.isLoggedIn"
                nz-button
                nz-popover
                [nzContent]="logoutLink"
                nzPlacement="bottomRight"
            >
                Hi, {{localStorage.getItem('User')}}
            </button>
            <ng-template #logoutLink>
                <a href="#" (click)="logout($event)">Logout</a>
            </ng-template>
        </nz-header>

        <nz-content class="content-container">
            <router-outlet></router-outlet>
        </nz-content>

        <nz-footer style="text-align: center;">SellMeGood ©2018 Created by Vladislav Klochkov</nz-footer>
    </nz-layout>
</nz-layout>

<ng-template #trigger>
    <i class="anticon anticon-up"></i>
</ng-template>
