<div class="login-wrapper">
    <a href="#" (click)="showModal($event)">Login</a>

    <nz-modal
        nzTitle="Login"
        nzWrapClassName="vertical-center-modal"
        nzWidth="300"
        [nzFooter]="null"
        [(nzVisible)]="isVisible"
        (nzOnCancel)="handleCancel()"
    >
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group nzPrefixIcon="anticon anticon-mail">
                        <input type="text" nz-input formControlName="email" placeholder="Email">
                    </nz-input-group>
                    <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">
                        Please input your email!
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control>
                    <nz-input-group nzPrefixIcon="anticon anticon-lock">
                        <input type="password" nz-input formControlName="password" placeholder="Password">
                    </nz-input-group>
                    <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">
                        Please input your password!
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class="login-form-footer">
                <nz-form-control>
                    <button nz-button class="login-form-button" type="submit" [nzType]="'primary'">Log in</button>
                    Or
                    <a href="">register now!</a>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-modal>
</div>